[submodule "PPTCopilot-backend"]
	path = PPTCopilot-backend
	url = https://github.com/forqsg/PPTCopilotBackend.git
[submodule "PPTCopilot-project"]
	path = PPTCopilot-project
	url = https://github.com/forqsg/PPTCopilotProject.git
[submodule "PPTCopilot-editor"]
	path = PPTCopilot-editor
	url = https://github.com/forqsg/PPTCopilotEditor.git
